
/*Personalized Header for All Pages*/
h1, .h1 {
  font-size: 60px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  background-color: black;
  color: goldenrod;
  padding: 20px;
}

h2,.h2 {
  font-size: 40px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}

h3,.h3 {
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  color: rebeccapurple;

}

h4, .h4 {
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  color: blue;
}
p, .p {
  font-size: 20;
  font-family:'Times New Roman', Times, serif;
}
/*Personalized Styles for Project Plan Page*/
table,td,tr,th {
  border:1px solid black;
  padding: 10px;
}
th {
  background-color:black;
  color:white;
  font-weight:bold;
}

li {
  font-size: 20;
  font-family:'Times New Roman', Times, serif;
}


body, html {
  /* The image used */
  background-image: url(../images/white_background.jpg);

  /* Full height */
  height: 100%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: vertical;
  background-size: cover;
}

section {
    
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
}
.section {
    background-color:silver;
    font-weight: bold;
}
.task { 
    background-color:gainsboro;
}
.team-member {
    background-color: lavender;
    font-weight: bold;
}
.team-member-amy {
    background-color:Plum;
    font-weight: bold;
}
.team-member-blaise {
    background-color:LightBlue;
    font-weight: bold;
}
.phase {
    background-color:Gray;
    color: white;
    font-weight: bold;
}

/*HTML 5 tags format*/
header, section, footer, aside, nav, article, figure { display: block;}

/* Personalised Button for Request Access Page*/
a.request {
  width: 200px;
  height: 100px;
  background-image: url(../images/Request_1.png);
  background-size: 200px 100px;
  display: inline-block;
  background-repeat: no-repeat;
  padding: 20 px;
}

a.request:hover {
  background-image: url(../images/Request_2.png);
}

a.request:active {
  background-image: url(../images/Request_3.png);
}